<!DOCTYPE html>
<html>
	<head>
		<title>The Swedish Github</title>
		<link href="http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,latin-ext" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="/static/css/list.css" />
	</head>
	<body>
		<header>
			<h2>The Swedish Github Index</h2>
		</header>
		<summary>
			<h4>
				If you are missing from the list or just want to contact me - <strong>lucho870601 [le at] gmail [le dot] com</strong>
			</h4>
		</summary>
		<section>
			{% block content %}{% endblock %}
		</section> 
		<footer>
			Runs on Django and eco-friendly HTML5!
		</footer>
	</body>
</html>