{% extends "base.html" %}
{% load pagination_tags %}

{% block head %}
<link href="http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,latin-ext" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/list.css" />
{% endblock %}

{% block title %}
The Swedish Github Index
{% endblock %}

{% block header %}
The Swedish Github Index
{% endblock %}

{% block content %}
<nav>
	<ul>
		<li><a href="/" {% if selected_language == None %}class="selected"{% endif %}>all</a></li>
		<li><a href="/None" {% if selected_language == 'None' %}class="selected"{% endif %}>None</a></li>
		{% for l in languages %}
		<li><a href="/{{ l|urlencode }}" {% if selected_language == l %}class="selected"{% endif %}>{{ l }}</a></li>
		{% endfor %}
	</ul>
	<div class="delimiter"> </div>
</nav>

{% autopaginate users 10 %}
{% for u in users %}
<article>
	<h3>
		<a href="https://github.com/{{ u.username }}">{{ u.username }}</a>
		{% if u.name %}<ruby >({{ u.name }})</ruby>{% endif %}
	</h3>
	<img src="http://gravatar.com/avatar/{{ u.gravatar_id }}" alt="{{ u.username }} photo"/>
	<ul>
		<li>{{ u.language }}</li>
		<li>{{ u.location }}</li>
		<li>{{ u.public_repo_count }} public repos</li>
	</ul>
	<div class="delimiter"> </div>
</article>
{% endfor %}

{% paginate %}

{% endblock %}
